{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-80WQDDJTCH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-80WQDDJTCH');
    </script>
    </head>

{% block content %}
    <h1>About this website</h1>
    <img src="{{ url_for('static', filename='images/Sunday.jpeg') }}" alt="Relaxing Sunday" class="img-fluid">
    <p class="lead">We hope this website can help you to make your Sunday morning better! Please share with your friends!</p>

    <p>Have fun browsing! Feel free to sign in and contribute with your own reccomendations.</p>

{% endblock %}
