{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Foods Page" %}
{% set active_page = "foods" %}

{% block content %}

    <h1>Foods</h1>

    <p class="lead">This is the foods page</p>

    {% if foods|length > 0 %}

        <ul>
            {% for food in foods %}
            
            <li>

                {{ food.name }} |  {{ food.type }}


            </li>


            {% endfor %}
        </ul> 

    {% else %}

        <p>Oops, no foods found.</p>

    {% endif %}

{% endblock %}