{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Foods Page" %}
{% set active_page = "foods" %}

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-80WQDDJTCH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-80WQDDJTCH');
    </script>
    </head>

{% block content %}

    <h1>Foods</h1>

    <p class="lead">This is the foods page</p>

    {% if foods|length > 0 %}

        <ul>
            {% for food in foods %}
            
            <li>

                {{ food.name }} |  {{ food.type }}


            </li>


            {% endfor %}
        </ul> 

    {% else %}

        <p>Oops, no foods found.</p>

    {% endif %}

{% endblock %}