{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-80WQDDJTCH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-80WQDDJTCH');
</script>
</head>

{% block content %}



    <h1>Welcome!</h1>

    <p class="lead">Trying to figure out what to do on your Sunday morning? Our website provides food reccomendations and good tunes to enjoy your Sunday adventures. </p>

    <p> Feel free to naviagate the bar on the top right to see our suggestions!</p>

{% endblock %}
